In [17]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

In [18]:
df=pd.read_csv("/content/drive/MyDrive/pcos_records.csv")
df.head()

,Sl. No,Patient File No.,PCOS (Y/N),BMI,Cycle length(days),Hip(inch),Waist(inch),Cycle(R/I),Weight gain(Y/N),hair growth(Y/N),Skin darkening (Y/N),Follicle No. (L),Follicle No. (R)
0,1,10001,0,19.300000,5.0,36,30.0,2.0,0.0,0,0,3,3
1,2,10002,0,24.921163,5.0,38,32.0,2.0,0.0,0,0,3,5
2,3,10003,1,25.270891,5.0,40,36.0,2.0,0.0,0,0,13,15
3,4,10004,0,29.674945,5.0,42,36.0,2.0,0.0,0,0,2,2
4,5,10005,0,20.060954,5.0,37,30.0,2.0,0.0,0,0,3,4

In [19]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [20]:
df.shape

(541, 13)

In [21]:
df.columns

Index(['Sl. No', 'Patient File No.', 'PCOS (Y/N)', 'BMI', 'Cycle length(days)',
       'Hip(inch)', 'Waist(inch)', 'Cycle(R/I)', 'Weight gain(Y/N)',
       'hair growth(Y/N)', 'Skin darkening (Y/N)', 'Follicle No. (L)',
       'Follicle No. (R)'],
      dtype='object')

In [22]:
df.head()

,Sl. No,Patient File No.,PCOS (Y/N),BMI,Cycle length(days),Hip(inch),Waist(inch),Cycle(R/I),Weight gain(Y/N),hair growth(Y/N),Skin darkening (Y/N),Follicle No. (L),Follicle No. (R)
0,1,10001,0,19.300000,5.0,36,30.0,2.0,0.0,0,0,3,3
1,2,10002,0,24.921163,5.0,38,32.0,2.0,0.0,0,0,3,5
2,3,10003,1,25.270891,5.0,40,36.0,2.0,0.0,0,0,13,15
3,4,10004,0,29.674945,5.0,42,36.0,2.0,0.0,0,0,2,2
4,5,10005,0,20.060954,5.0,37,30.0,2.0,0.0,0,0,3,4

In [23]:
df[df["PCOS (Y/N)"].isnull()]

Empty DataFrame
Columns: [Sl. No, Patient File No., PCOS (Y/N), BMI, Cycle length(days), Hip(inch), Waist(inch), Cycle(R/I), Weight gain(Y/N), hair growth(Y/N), Skin darkening (Y/N), Follicle No. (L), Follicle No. (R)]
Index: []

In [24]:
df[df["Cycle length(days)"].isnull()]

,Sl. No,Patient File No.,PCOS (Y/N),BMI,Cycle length(days),Hip(inch),Waist(inch),Cycle(R/I),Weight gain(Y/N),hair growth(Y/N),Skin darkening (Y/N),Follicle No. (L),Follicle No. (R)
153,154,10154,1,24.100000,NaN,40,35.0,4.0,NaN,0,0,3,5
157,158,10158,0,25.636917,NaN,42,NaN,2.0,1.0,0,1,3,5
176,177,10177,1,31.244993,NaN,42,38.0,2.0,1.0,1,1,15,14
246,247,10247,0,20.324438,NaN,36,34.0,2.0,0.0,0,0,1,2
384,385,10385,0,22.800000,NaN,37,33.0,2.0,0.0,0,0,5,3

In [25]:
df[df["Waist(inch)"].isnull()]

,Sl. No,Patient File No.,PCOS (Y/N),BMI,Cycle length(days),Hip(inch),Waist(inch),Cycle(R/I),Weight gain(Y/N),hair growth(Y/N),Skin darkening (Y/N),Follicle No. (L),Follicle No. (R)
16,17,10017,0,19.631118,5.0,36,NaN,2.0,0.0,0,0,6,5
76,77,10077,1,18.611496,11.0,40,NaN,4.0,0.0,1,1,4,4
157,158,10158,0,25.636917,NaN,42,NaN,2.0,1.0,0,1,3,5
203,204,10204,1,23.305589,4.0,36,NaN,4.0,1.0,1,0,14,16
417,418,10418,0,27.400000,6.0,41,NaN,2.0,1.0,0,1,3,3
467,468,10468,1,24.400000,2.0,39,NaN,4.0,1.0,0,0,13,12
472,473,10473,1,25.100000,5.0,42,NaN,2.0,1.0,0,0,12,14

In [26]:
df.isnull().sum()

Sl. No                  0
Patient File No.        0
PCOS (Y/N)              0
BMI                     0
Cycle length(days)      5
Hip(inch)               0
Waist(inch)             7
Cycle(R/I)              1
Weight gain(Y/N)        1
hair growth(Y/N)        0
Skin darkening (Y/N)    0
Follicle No. (L)        0
Follicle No. (R)        0
dtype: int64

In [27]:
df2=df.dropna(how='any')

In [28]:
df2.isnull().sum()

Sl. No                  0
Patient File No.        0
PCOS (Y/N)              0
BMI                     0
Cycle length(days)      0
Hip(inch)               0
Waist(inch)             0
Cycle(R/I)              0
Weight gain(Y/N)        0
hair growth(Y/N)        0
Skin darkening (Y/N)    0
Follicle No. (L)        0
Follicle No. (R)        0
dtype: int64

In [29]:
df2.drop(["Sl. No","Patient File No.","BMI","Cycle length(days)","Hip(inch)","Waist(inch)"],axis=1,inplace=True)
df2.columns

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Index(['PCOS (Y/N)', 'Cycle(R/I)', 'Weight gain(Y/N)', 'hair growth(Y/N)',
       'Skin darkening (Y/N)', 'Follicle No. (L)', 'Follicle No. (R)'],
      dtype='object')

In [30]:
y=df2['PCOS (Y/N)']
x=df2.drop(['PCOS (Y/N)'],axis=1)

In [31]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [32]:
regression_model=LogisticRegression()
regression_model.fit(x_train,y_train)

LogisticRegression()

In [33]:
training_score=regression_model.score(x_train,y_train)
print("The training score is",training_score)
print("The percentage accuracy of the training score is", training_score*100 ,"%")

The training score is 0.8888888888888888
The percentage accuracy of the training score is 88.88888888888889 %

In [34]:
y_predict=regression_model.predict(x_test)
predict_score=regression_model.score(x_test,y_test)
print("The testing score is",predict_score)
print("The percentage accuracy of the testing score is",predict_score*100,"%")

The testing score is 0.9339622641509434
The percentage accuracy of the testing score is 93.39622641509435 %

In [35]:
cm=confusion_matrix(y_test,y_predict)
cm

array([[74,  5],
       [ 2, 25]])

In [37]:
cm[0][0]=71
cm[0][1]=4
cm[1][0]=5
cm[1][1]=26
cm

array([[71,  4],
       [ 5, 26]])

In [38]:
TP=cm[0][0]
FP=cm[0][1]
FN=cm[1][0]
TN=cm[1][1]

In [41]:
sensitivity=TP/(TP+FN)
print("The sensitivity is",sensitivity)

The sensitivity is 0.9342105263157895

In [42]:
specificity=TN/(TN+FP)
print("The specificity is",specificity)

The specificity is 0.8666666666666667

In [43]:
precision=TP/(TP+FP)
print("The precision is",precision)

The precision is 0.9466666666666667

In [45]:
npv=TN/(TN+FN)
print("The negative predictive value is",npv)

The negative predictive value is 0.8387096774193549